<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DyWeb-jan19</display-name>
	
	<listener>
		<listener-class>com.ash.ContextAttributeManagementListeners</listener-class>
	</listener>
	<listener>
		<listener-class>com.session.AttributeManagementListeners</listener-class>
	</listener>
	<listener>
		<listener-class>com.ash.RequestLifeCycleListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.binding.Person</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>com.ash.Servlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet2</display-name>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>
		com.ash.Servlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet3</display-name>
		<servlet-name>Servlet3</servlet-name>
		<servlet-class>
		com.ash.Servlet3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet4</display-name>
		<servlet-name>Servlet4</servlet-name>
		<servlet-class>
		com.ash.Servlet4</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServletCreate</display-name>
		<servlet-name>SessionServletCreate</servlet-name>
		<servlet-class>
		com.session.SessionServletCreate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServletReplace</display-name>
		<servlet-name>SessionServletReplace</servlet-name>
		<servlet-class>
		com.session.SessionServletReplace</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServletDestroy</display-name>
		<servlet-name>SessionServletDestroy</servlet-name>
		<servlet-class>
		com.session.SessionServletDestroy</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Sevlet11</display-name>
		<servlet-name>Sevlet11</servlet-name>
		<servlet-class>
		com.header.Sevlet11</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet5</display-name>
		<servlet-name>Servlet5</servlet-name>
		<servlet-class>
		com.binding.Servlet5</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet6</display-name>
		<servlet-name>Servlet6</servlet-name>
		<servlet-class>
		com.binding.Servlet6</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet10</display-name>
		<servlet-name>Servlet10</servlet-name>
		<servlet-class>
		com.headers.Servlet10</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResponseHeaders</display-name>
		<servlet-name>ResponseHeaders</servlet-name>
		<servlet-class>
		com.headers.ResponseHeaders</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet11</display-name>
		<servlet-name>Servlet11</servlet-name>
		<servlet-class>
		com.headers.Servlet11</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet12</display-name>
		<servlet-name>Servlet12</servlet-name>
		<servlet-class>
		com.headers.Servlet12</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/Servlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet3</servlet-name>
		<url-pattern>/s3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet4</servlet-name>
		<url-pattern>/s4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServletCreate</servlet-name>
		<url-pattern>/ssc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServletReplace</servlet-name>
		<url-pattern>/ssr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServletDestroy</servlet-name>
		<url-pattern>/ssd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sevlet11</servlet-name>
		<url-pattern>/s11</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet5</servlet-name>
		<url-pattern>/Servlet5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet6</servlet-name>
		<url-pattern>/Servlet6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet10</servlet-name>
		<url-pattern>/Servlet10</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseHeaders</servlet-name>
		<url-pattern>/ResponseHeaders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet11</servlet-name>
		<url-pattern>/Servlet11</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet12</servlet-name>
		<url-pattern>/Servlet12</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
